.nav_component.inverse {
  color: var(--link-color--link-alternate);
}

.nav_component.inverse .logo_image #logo-colored {
  fill: var(--_base--brand-extended--cobalt-300);
}

.nav_component.inverse .nav_menu-link:hover,
.nav_component.inverse .nav_dropdown-link:hover {
  color: var(--_base--brand-extended--cobalt-200);
}

.nav_component.inverse .button {
  background-color: var(--_base--brand-extended--cobalt-400);
}

.nav_component.inverse .button.is-tertiary {
  background-color: transparent;
}
